@tailwind base;
@tailwind components;
@tailwind utilities;
.animate-pulse {
  animation: pulse 2s infinite;
}


@font-face {
  font-family: youtube-sans;
  src: url('./assets/Fonts/YouTubeSans-Medium.otf');
}

@keyframes pulse {
  0% { opacity: 0.4; transform: scale(0.95); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0.4; transform: scale(0.95); }
}


*{
 font-family: youtube-sans
}

body{
  overflow: hidden;
 
}